@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--blue: #4263EB;
	--purple: #7048E8;

	--black: #212429;
	--gray-4: #495057;
	--gray-3: #ACB5BD;
	--gray-2: #DDE2E5;
	--gray-1: #F8F9FA;
}


.histogram {
	padding: 16px 24px 24px;
	border-radius: 8px;
	background: #FFFFFF;
	/* Gray 3 */

	border: 1px solid var(--gray-3);
}

.histogram__header {
	display: flex;
	justify-content: space-between;

}

.histogram__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: var(--black);

	opacity: 0.8;
	margin: 0;
}

.histogram__count {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;

	color: var(--black);
	margin: 0;
	margin-top: 8px;
}

.histogram__button {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: right;

	color: var(--blue);
	margin-top: 3px;
	margin-bottom: 0;
	height: fit-content;

	cursor: pointer;
}

.histogram__body {
	padding-top: 39px;
	padding-left: 2px;
	padding-right: 5px;
	width: 100%;
	height: 100%;
}

.histogram__chart {
	display: flex;
	height: 50px;
	flex-flow: row nowrap;
	gap: 1px;
	align-items: flex-end;
}

.histogram__bar {
	flex: 1 0 auto;
	background: var(--blue);
	height: 100%;
}

.histogram__bar_70 {
	height: 70%;
}

.histogram__bar_44 {
	height: 44%;
}

.histogram__bar_78 {
	height: 78%;
}

.histogram__bar_60 {
	height: 60%;
}

.histogram__bar_22 {
	height: 22%;
}

.histogram__bar_90 {
	height: 90%;
}

.histogram__bar_34 {
	height: 34%;
}